@model User
@{
    ViewData["Title"] = "Delete";
}
    <h1>Delete User</h1>
    <form method="post" asp-action="Delete">
    <div>
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name"disabled class="form-control" />
    </div>
    <div>
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone"disabled class="form-control" />
    </div>
    <div>
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password"disabled class="form-control" />    </div>
    <div>
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email"disabled class="form-control" />
    </div>
    <button type="submit" class="btn btn-outline-warning">delete</button>
    <a asp-action="Index" class="btn btn-primary">Back</a>
</form>
